header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="#") Principal
        button.navbar-toggler(data-toggle='collapse', data-target='#navbarMenu')
            span.navbar-toggler-icon
        ul.collapse.navbar-collapse#navbarMenu.mb-0.p-0
            .nav-item.dropdown
                .nav-link.dropdown-toggle.text-info.p-1(data-toggle="dropdown", href="#", role="button", aria-expanded="false") Categorías
                div.dropdown-menu
                    a.dropdown-item(href="/api/categorias") Todas las Categorías
                    div.dropdown-divider
                    a.dropdown-item(href="/api/categorias/nueva") Crear Categorias

            .nav-item.dropdown
                a.nav-link.dropdown-toggle.text-info.p-1(data-toggle="dropdown", href="#", role="button", aria-expanded="false") Ítems
                div.dropdown-menu
                    a.dropdown-item(href="/api/items") Todos los Ítems
                    div.dropdown-divider
                    a.dropdown-item(href="#") Crear Ítems
                     
