extends base

block content
        head
          title= title
          //-link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
        body.bg-light.max-height
            div.container

                form.form-group
                    div 
                        label(for="tipoDeCategoria") Tipo de categoría  
                        input.form-control#tipoDeCategoria(type="text", aria-describedby="categoriaHelp", placeholder="Ingrese el nombre de la categoría")
                    div 
                        label(for="descripcionDeCategoria") Descripción categoría  
                        input.form-control#descripcionDeCategoria(type="text", aria-describedby="descripcionHelp", placeholder="Ingrese la descripción de la categoría")
                    
                    div 
                        label(for="usuarioDeCategoria") Tipo de usuario  
                        input.form-control#usuarioDeCategoria(type="text", aria-describedby="usuarioHelp", placeholder="Ingrese el tipo de usuario")

                    <button type="submit" class="btn btn-primary">Submit</button>
